p{
    color: rgb(11, 5, 0);
    background-color: rgb(161, 155, 145);
    padding: 10px;
    margin: 20px;
    border: 10px;
    border-radius: 10px;
    text-align: justify;
    font-weight: bold;
}
.sympol{
    font-size: 20px;
    background-color: beige;
    border-radius: 5px solid ;
    border: 3px solid rgb(5, 3, 0);
    border-radius: 5px;
    padding:5px;
    display: inline-block;
    font-weight: bolder;
}
.my{
    text-align: center;
    font-weight: bold;
}
.user{
    font-size: 20px;
    background-color: rgb(123, 150, 173);
    border: 5px solid rgb(5, 3, 0);
    border-radius: 6px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}
#user{
    text-align: center;
}
.img{
    width: 120px;
    height: 120px;
    text-align: center;
}
